@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button:hover,
input:hover {
  cursor: pointer;
}

button:hover,
button:focus,
button:active,
a:hover,
a:focus,
a:active {
  opacity: 0.8;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  font-size: 22px;
  line-height: 24px;
  font-weight: 300;
  font-style: normal;
  font-family: "Lato", sans-serif;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

@media (max-width: 1599px) {
  .container {
    width: 92%;
  }
}
@media (max-width: 767px) {
  .container {
    width: 92%;
  }
}
.header {
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__wrp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav {
  margin-right: 50px;
  display: flex;
  grid-column-gap: 15px;
}
@media (max-width: 767px) {
  .header__nav {
    display: none;
  }
}
.header__link {
  font-size: 16px;
  text-decoration: none;
  color: #1C1C1C;
  text-transform: uppercase;
}

.baner {
  color: white;
  padding-top: 60px;
  padding-bottom: 65px;
  background-image: url("../img/baner.jpeg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}
.baner__wrp {
  display: flex;
  flex-direction: column;
  grid-row-gap: 15px;
}
@media (max-width: 767px) {
  .baner__wrp {
    align-items: center;
  }
}
.baner__title {
  position: relative;
  margin-left: 25px;
  width: 50%;
  font-size: 45px;
  line-height: 40px;
  font-weight: 600;
}
@media (max-width: 767px) {
  .baner__title {
    width: 90%;
  }
}
.baner__title:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 100%;
  background: #1ab51a;
  left: -22px;
}
.baner__text {
  font-size: 20px;
  line-height: 1.2em;
  font-weight: 500;
  font-style: normal;
  margin-top: 30px;
  width: 50%;
}
@media (max-width: 767px) {
  .baner__text {
    width: 90%;
  }
}
.baner__item {
  position: relative;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  margin-top: 15px;
  margin-left: 30px;
}
.baner__item:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: -25px;
  background-image: url("../img/check.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.baner__btn {
  margin-top: 30px;
  border: none;
  width: 300px;
  height: 70px;
  box-sizing: border-box;
  background: #1ab51a;
  border-radius: 60px;
  font-size: 19px;
  color: white;
  line-height: 22px;
  padding: 24px 30px;
}

.benefits {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.benefits__title {
  text-align: center;
  width: 50%;
  font-weight: 600;
  font-size: 30px;
  color: #333333;
  line-height: 1.4em;
}
@media (max-width: 767px) {
  .benefits__title {
    width: 100%;
  }
}
.benefits__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
@media (max-width: 767px) {
  .benefits__list {
    flex-direction: column;
    align-items: center;
  }
}
.benefits__item {
  box-sizing: border-box;
  padding: 30px;
  margin-top: 30px;
  width: 30%;
  background: rgba(241, 241, 241, 0.87);
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 767px) {
  .benefits__item {
    width: 100%;
  }
}
.benefits__item-title {
  text-align: center;
  margin-top: 30px;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}
.benefits__item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #222222;
  width: 90%;
  text-align: center;
  margin-top: 30px;
}
.benefits .fa__icons {
  font-size: 50px;
  color: #1ab51a;
}

.price {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.price__subtitle {
  color: #1ab51a;
}
.price__title {
  text-align: center;
}
.price__item-title {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.price__item-title:before {
  position: absolute;
  content: "";
  width: 20px;
  height: 11px;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  right: -10px;
}
.price__list {
  width: 90%;
  margin-top: 30px;
}
.price__item > details {
  margin-bottom: 30px;
  border: 1px solid #1ab51a;
  box-sizing: border-box;
  border-radius: 15px;
  width: 100%;
  padding: 30px 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.price__wrp {
  font-size: 20px;
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}
.price__item-text {
  margin-top: 30px;
  font-size: 16px;
}
.price-doc__list {
  margin-top: 15px;
  list-style-type: circle;
}
.price-doc__item {
  margin-left: 30px;
  font-size: 16px;
}
.price-doc__title {
  margin-top: 20px;
  color: #666;
  font-weight: 400;
  font-size: 20px;
}
.price__wrp-item {
  width: 90%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.services {
  background: rgba(241, 241, 241, 0.87);
  display: flex;
  padding-top: 70px;
  padding-bottom: 70px;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
}
.services__wrp {
  margin-top: 30px;
  width: 80%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .services__wrp {
    flex-direction: column;
  }
}
.services__list {
  list-style-type: square;
}
@media (max-width: 767px) {
  .services__list {
    margin-top: 30px;
  }
}
.services__item {
  margin-top: 20px;
  font-size: 19px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  margin-left: 50px;
}
.services__text {
  margin-top: 30px;
  text-align: center;
  width: 70%;
}
@media (max-width: 767px) {
  .services__text {
    width: 100%;
  }
}

.about {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__wrp {
  margin-top: 40px;
  display: flex;
  align-items: center;
  grid-column-gap: 20px;
}
@media (max-width: 767px) {
  .about__wrp {
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .about__wrp > img {
    width: 100%;
    margin-top: 35px;
  }
}
.about__text {
  font-size: 18px;
  font-weight: 300;
}

.contact {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact__text {
  margin-top: 15px;
}
.contact__wrp {
  margin-top: 30px;
  width: 100%;
  min-height: 550px;
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 767px) {
  .contact__wrp {
    flex-direction: column;
  }
}
.contact__icon {
  width: 50px;
  font-size: 50px;
  color: #1ab51a;
  margin-right: 15px;
}
.contact__map {
  width: 60%;
  box-sizing: border-box;
  padding: 30px;
  border: 1px solid gray;
}
@media (max-width: 767px) {
  .contact__map {
    width: 100%;
    height: 450px;
    padding: 10px;
  }
}
.contact__item-title {
  font-weight: 600;
  font-size: 17px;
  color: #333333;
}
.contact__item-text {
  margin-top: 10px;
  margin-left: 10px;
  font-weight: 300;
}
.contact__address {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid gray;
}
.contact__phone {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid gray;
}
.contact__online {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid gray;
}
.contact__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer {
  background: black;
  color: white;
  margin-top: 60px;
}
.footer__wrp {
  width: 70%;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}
@media (max-width: 767px) {
  .footer__wrp {
    flex-direction: column;
  }
}
.footer__list-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 19px;
  color: rgba(255, 255, 255, 0.5);
  line-height: 1.4em;
}
.footer__list > li {
  font-size: 14px;
  color: #fff;
  line-height: 1.7em;
  font-weight: 500;
}

.prices {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;
}
.prices__list {
  margin-top: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.prices__list:nth-child(even) {
  background: #F2F2F2;
}
.prices__title {
  width: 90%;
  text-align: left;
  font-weight: 600;
  font-size: 30px;
  color: #333333;
  line-height: 1.4em;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .prices__title {
    text-align: center;
  }
}
.prices__item-text {
  text-align: left;
  margin-top: 30px;
  width: 90%;
}
.prices__list {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
}
.prices__item {
  width: 90%;
  display: grid;
  grid-template-columns: 3fr repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 15px 20px;
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  margin-bottom: 5px;
  grid-column-gap: 5px;
}
.prices-green {
  color: #1ab51a;
}
.prices-bold {
  font-weight: 400;
  font-size: 1rem;
}
.prices-right {
  text-align: right;
  font-size: 1rem;
}

.whatsapp-button {
  position: fixed;
  right: 13px;
  bottom: 90px;
  transform: translate(-50%, -50%);
  background: #25D366;
  /*цвет кнопки*/
  border-radius: 50%;
  width: 55px;
  /*ширина кнопки*/
  height: 55px;
  /*высота кнопки*/
  color: #fff;
  text-align: center;
  line-height: 53px;
  /*центровка иконки в кнопке*/
  font-size: 35px;
  /*размер иконки*/
  z-index: 9999;
}

.whatsapp-button a {
  color: #fff;
}

.whatsapp-button:before,
.whatsapp-button:after {
  content: " ";
  display: block;
  position: absolute;
  border: 50%;
  border: 1px solid #25D366;
  /*цвет анимированных волн от кнопки*/
  left: -20px;
  right: -20px;
  top: -20px;
  bottom: -20px;
  border-radius: 50%;
  animation: animate 1.5s linear infinite;
  opacity: 0;
  backface-visibility: hidden;
}

.whatsapp-button:after {
  animation-delay: 0.5s;
}

@keyframes animate {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
@media (max-width: 800px) {
  .whatsapp-button {
    bottom: 5px;
    /*отступ кнопки снизу от экрана*/
    left: 70px;
    /*отступ кнопки слева от экрана(right - справа)*/
  }
}

/*# sourceMappingURL=style.css.map */
