button:hover,
input:hover {
  cursor: pointer;
}

button:hover,
button:focus,
button:active,
a:hover,
a:focus,
a:active {
  opacity: 0.8;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

@font-face {
  font-family: 'PT Sans';
  src: url('../font/PTSans-Regular.ttf'),
  url('../font/PTSans-Bold.ttf');
  font-style: normal;
}

body {
  @include font(22px, 24px);
  font-family: 'PT Sans';

}
.container {
  max-width: 1600px;
  margin: 0 auto;
}

@media (max-width: $tablet-width) {
  .container {
    width: 92%;
  }
}

@media (max-width: $mobile-width) {
  .container {
    width: 92%;
  }
}