@import "./variables";
@import "./mixins";
@import "./reset";
@import "./general";
@import "./blocks/header";
@import "./blocks/baner";
@import "./blocks/benefits";
@import "./blocks/price";
@import "./blocks/services";
@import "./blocks/about";
@import "./blocks/contact";
@import "./blocks/footer";