.about {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__wrp {
    margin-top: 40px;
    display: flex;
    align-items: center;
    grid-column-gap: 20px;

    @include mobile {
      flex-direction: column;
    }
  }

  &__wrp>img {

    @include mobile {
      width: 100%;
      margin-top: 35px;
    }
  }

  &__text {
    font-size: 18px;
    font-weight: 300;
  }
}