.about {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__form{
    margin:0px auto;
    max-width:95%;
    box-sizing:border-box;
    padding:40px;
  }

  &__wrapper {
    width: 50%;

    @include mobile {
      width: 100%;
    }
  }

  &__title {
    text-align: center;
    font-weight: 600;
    font-size: 25px;
    color: #333333;
    line-height: 1.4em;
    margin-bottom: 30px;
  }
  /* Стили полей ввода */
  .textbox{
    height:50px;
    width:100%;
    border-radius:3px;
    border:rgba(0,0,0,.3) 2px solid;
    box-sizing:border-box;
    font-family: 'Open Sans', sans-serif;
    font-size:18px;
    padding:10px;
    margin-bottom:30px;
  }
  .message:focus,
  .textbox:focus{
    outline:none;
    border:rgba(24,149,215,1) 2px solid;
    color:rgba(24,149,215,1);
  }
  /* Стили текстового поля */
  .message{
    background: rgba(255, 255, 255, 0.4);
    width:100%;
    height: 120px;
    border:rgba(0,0,0,.3) 2px solid;
    box-sizing:border-box;
    -moz-border-radius: 3px;
    font-size:18px;
    font-family: 'Open Sans', sans-serif;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    display:block;
    padding:10px;
    margin-bottom:30px;
    overflow:hidden;
  }
  /* Базовые стили кнопки */
  .button{
    height:50px;
    width:100%;
    border-radius:3px;
    border:rgba(0,0,0,.3) 0px solid;
    box-sizing:border-box;
    padding:10px;
    background:#1ab51a;
    color:#FFF;
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    font-size: 16pt;
    transition:background .4s;
    cursor:pointer;
  }
  /* Изменение фона кнопки при наведении */
  .button:hover{
    background:#80b438;
  }

  &__wrp {
    box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 45%);
    box-sizing: border-box;
    padding: 40px;
    border-radius: 5px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    grid-column-gap: 20px;

    @include mobile {
      flex-direction: column;
    }
  }

  &__wrp>img {

    @include mobile {
      width: 100%;
      margin-top: 35px;
    }
  }

  &__text {
    font-size: 18px;
    font-weight: 300;
  }
}