.header {
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__wrp {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav {
    margin-right: 50px;
    display: flex;
    grid-column-gap: 15px;

    @include mobile {
      display: none;
    }
  }

  &__link {
    font-size: 13px;
    text-decoration: none;
    color: #1C1C1C;
    text-transform: uppercase;
  }
}