.header {
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 15px;

  &__wrp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
  }

  &__list > li {
    @include  mobile {
      text-align: center;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;

    @include mobile {
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
    }
  }

  &__nav {
    margin-right: 50px;
    display: flex;
    grid-column-gap: 15px;

    @include mobile {
      display: none;
    }
  }

  &__phone, &__mail {
    font-size: 19px ;
    font-weight: 500;
  }

  &__link {
    font-size: 15px;
    text-decoration: none;
    color: #1C1C1C;
    text-transform: uppercase;
  }

  &__wrapper {
    display: flex;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 247px;
    background-image: url(../img/maps.png);
    background-position: center;
    justify-content: space-between;
    align-items: center;

    @include mobile {
      flex-direction: column;
    }
  }

  &__list-text > p {
    margin-top: 15px;
    text-align: center;
  }

  &__list-text > h2 {
    font-size: 35px;
    line-height: 40px;
    font-weight: 600;
    color: #1ab51a;
    text-align: center;
  }

  &__list-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;

    @include mobile {
      width: 100%;
    }
  }
}