.prices {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;

  p.prices-right.prices-bold.prices-green {
    display: none;
  }
  &__list {
    margin-top: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__list:nth-child(even) {
    background: #F2F2F2;
  }

  &__title {
    width: 90%;
    text-align: left;
    font-weight: 600;
    font-size: 30px;
    color: #333333;
    line-height: 1.4em;
    margin-bottom: 30px;

    @include mobile {
      text-align: center;
    }
  }

   &__item-text {
     text-align: left;
     margin-top: 30px;
     width: 90%;
   }

  &__list {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
  }

  &__item {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 15px 20px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    margin-bottom: 5px;
    grid-column-gap: 5px;
  }

  &-green {
    color: #1ab51a;
  }

  &-bold {
    font-weight: 400;
    font-size: 1rem;
  }

  &-right {
    color: #1ab51a;
    text-align: right;
    font-size: 1rem;
  }
}