.service {
  margin-top: 60px;
  margin-bottom: 60px;

  &__title {
    font-weight: 600;
    font-size: 30px;
    color: #333333;
    line-height: 1.4em;
    margin-bottom: 30px;
  }

  &__img {
    height: 255px;
    border-radius: 20px;
    width: 100%;
    object-fit: cover;
  }

  &__list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
  }

  &__item {
    width: 30%;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 36px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    box-shadow: 0px 4px 20px #d3d3d3;
    border-radius: 20px;

    @include mobile {
      width: 80%;
    }
  }

  &__btn {
    background: #1ab51a;
    border: none;
    border-radius: 20px;
    width: 70%;
    padding: 15px;
    font-size: 19px;
    color: white;
  }


  &__item-title {
    width: 70%;
    height: 68px;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 30px;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: bold;
  }
}